* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#p {

}

#wrapper {
    border: 3px solid lightgray;
    width: 500px;
    min-height: 100px;
    margin: 200px;
}

.card2 {
    margin: 100px;

}
#card-header {
    background-color: teal;
    min-height: 60px;
    position: relative;
    margin-bottom: 20px;
}

#user-circle {
    position: absolute;
    top: 30px;
    left: 20px;
}

#card-header img {
    width: 60px;
    margin-bottom: 50px;
}

.small {
    width: 15px;
}

#location {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

#card-content {
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 400px;
    align-items: center;
    color: ghostwhite;
}

p {
    gap: 10px;
}

.nav {
    display: flex;
    justify-content: space-around;
    background-color: #333333;
}

.nav-title {
    display: flex;
    align-items: center;
}

ul li:hover {
    opacity: 1;
    text-decoration: none;
}


a  {
    color: ghostwhite;
    text-decoration: none;

} 

#edit {
    color: black;
    text-decoration: underline;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 500px;
}

.btn {
    background-color: #17a2b8;
    color: white;
    box-shadow: 2px 2px black;
    padding: 5px;
}

ul li {
    list-style-type: none;

}